<!doctype html>

<meta charset="utf-8">
<title>Graph Visualization</title>

<link rel="stylesheet" href="bootstrap/css/bootstrap.css", type="text/css/">
<link rel="stylesheet" href="stylesheets/index.css", type="text/css/">

<div class="container-fluid">
    <div class="row-fluid">
        <div id="visualization-window" class="span8">
            <iframe src="http://localhost:3000/graph-demo.html" frameborder="1" width=900 height=640></iframe>
        </div>
        <div id="debugger" class="span3">
            <div class="btn-group">
                <button class="btn btn-large" title="Run/Pause">
                    <i class=icon-play></i>
                </button>
                <button class="btn btn-large" title="Step over">
                    <i class=icon-share-alt></i>
                </button>
                <button class="btn btn-large" title="Step in">
                    <i class=icon-arrow-down></i>
                </button>
                <button class="btn btn-large" title="Step out">
                    <i class=icon-arrow-up></i>
                </button>
            </div>

            <br><br>
            <textarea rows="20"></textarea>

            <br>
            <button class="btn" title="Submit">Submit</button>
        </div>
    </div>
</div>

<script src="javascripts/lib/require-config.js"></script>
<script data-main="index" src="javascripts/lib/require.js"></script>

