<!doctype html>

<meta charset="utf-8">
<title>VisualJS</title>

<link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css/">
<link rel="stylesheet" href="stylesheets/index.css" type="text/css/">
<link rel="stylesheet" href="stylesheets/bar-chart.css" type="text/css"/>
<link rel="stylesheet" href="stylesheets/tree.css" type="text/css"/>
<link rel="stylesheet" href="stylesheets/jquery.terminal.css" type="text/css"/>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <div class="visualization-div">
        <div class="input-append visualize-div">
          <input type="text" placeholder="Visualize">
          <button class="btn" title="submit">
            <i class=icon-plus></i>
          </button>
        </div>
        <div class="input-append watch-red-div">
          <input type="text" placeholder="Watch">
          <button class="btn" title="submit">
            <i class=icon-search></i>
          </button>
        </div><br>
        <div class="input-append watch-blue-div">
          <input type="text" placeholder="Watch">
          <button class="btn" title="submit">
            <i class=icon-search></i>
          </button>
        </div>
        <div><svg/></div>
      </div>
    </div>

    <div class="span5">
      <div class="row-fluid">
        <div class="span12">
          <div class="btn-group">
            <button class="btn btn-large" title="Run/Pause">
              <i class=icon-play></i>
            </button>
            <button class="btn btn-large" title="Step over">
              <i class=icon-share-alt></i>
            </button>
            <button class="btn btn-large" title="Step in">
              <i class=icon-arrow-down></i>
            </button>
            <button class="btn btn-large" title="Step out">
              <i class=icon-arrow-up></i>
            </button>
          </div>
        </div>

        <!-- following spans are always displayed with left margin,
        so I reset it manually -->
        <div class="span12" style="margin-left:0px">
          <div id="editor"/>
        </div>

        <div class="span12" style="margin-left:0px">
          <div id="terminal"/>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="javascripts/lib/require-config.js"></script>
<script data-main="index" src="javascripts/lib/require.js"></script>
