#visualization-span {
    margin: 30px;
}

#visualization-window {
    border: 1px solid grey;
    padding: 10px;
    float: right;
}

#debugger {
    margin-top: 30px;
}

textarea {
    margin-top:30px;
}

#editor {
    margin-top: 30px;
}

#editor{ 
    position: relative;
    width: 250px;
    height: 400px;
}

