.visualization-div {
  margin-top: 30px;
  border: 1px solid #E1E1E8;
  padding: 10px;
  float: right;
}

/*binding data input area*/
.input-append {
  float: right;
}

/*step through button group*/
.btn-group {
  margin-top: 30px;
}

#editor {
  margin-top: 20px;
  width: 600px;
  height: 500px;
  border: 1px solid #E1E1E8;
  font-size: 11px;
}

#terminal {
  margin-top: 20px;
  width: 580px;
  height: 200px;
  border: 1px solid #E1E1E8;
}

.program-counter {
  border-radius: 20px 0px 0px 20px;
  box-shadow: inset 0px 0px 2px 2px red;
  background: #f0d0d0;
}

.warning {
  background: #87CEEB;
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}
