.visualization-div {
  margin-top: 30px;
  border: 1px solid #E1E1E8;
  padding: 10px;
  float: right;
}

.visualization-div {
  float: left;
}

.watch-red-div, .watch-blue-div {
  float: right;
}

.watch-red-div > input {
  color: #FF4500;
  border-top-color: #FF4500;
  border-left-color: #FF4500;
  border-bottom-color: #FF4500;
}

.watch-blue-div > input {
  color: #87CEEB;
  border-top-color: #87CEEB;
  border-left-color: #87CEEB;
  border-bottom-color: #87CEEB;
}

/*step through button group*/
.btn-group {
  margin-top: 30px;
}

#editor {
  margin-top: 20px;
  width: 600px;
  height: 500px;
  border: 1px solid #E1E1E8;
  font-size: 11px;
}

#terminal {
  margin-top: 20px;
  width: 580px;
  height: 200px;
  border: 1px solid #E1E1E8;
}

.program-counter {
  border-radius: 20px 0px 0px 20px;
  box-shadow: inset 0px 0px 2px 2px red;
  background: #f0d0d0;
}

.warning {
  background: #87CEEB;
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}
