.node rect {
  fill: #fff;
}

.node-highlight rect {
  stroke-width: 1.5px;
  stroke: red;
  fill: #fff;
}

#node-CLOSED rect {
  stroke-width: 3px;
  fill: #f88;
}

.node text {
  font: 300 14px "Trebuchet MS";
}

.node:hover {
  cursor: pointer;
  opacity: 0.4;
}

path.edge {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.edge:hover {
  cursor: pointer;
  opacity: 0.4;
}
