.node text {
  font: 300 14px "Trebuchet MS";
}

.node:hover {
  cursor: pointer;
  opacity: 0.4;
}

.edge {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.edge:hover {
  cursor: pointer;
  opacity: 0.4;
}
